
<p-panel header="Posts">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button label="New" icon="pi pi-plus" (click)="onNewRecord()"></p-button>
    </div>
  </p-toolbar>

  <div class="card">
    <p-table [value]="records" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-striped"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr (click)="openRecord(record.id)" class="tableRow">
          <td>{{record.name}}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</p-panel>