<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login info</h3>
        </div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="yourmail@example.com" name="email" type="text"
                [(ngModel)]="userName">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" value=""
                [(ngModel)]="password">
            </div>
            <div class="checkbox">
              <label>
                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
              </label>
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" (click)="handleLogin()">
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Register" (click)="handleRegister()">

          </fieldset>
          <div id="divMessage" class="divErrorMessage">{{message}}</div>
        </div>
      </div>
    </div>
  </div>