<div class="card" *ngIf="record">
  <h3 class="card-header text-center font-weight-bold py-4">TimeSheet edit</h3>
  <div class="card-body">
    <div class="container">
      <app-tool-bar (closeRecord)="onClose()" (deleteRecord)="onDelete()" (newRecord)="onNew()" (newRecord)="onNew()"
        (saveAndCloseRecord)="onPostSave(true)" (saveRecord)="onPostSave(false)"></app-tool-bar>
      <app-info-bar></app-info-bar>

      <fieldset>
        <div class="control-group" style="display:none">
          <label class="control-label" for="ownerId">Owner id</label>
          <div class="controls">
            <input type="text" id="ownerId" name="ownerId"
              placeholder="Enter Owner id" [(ngModel)]="record.ownerId" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="weekEnding">Week ending</label>
          <div class="controls">
            <input type="date" id="weekEnding" name="weekEnding"
              placeholder="Enter Week ending" [(ngModel)]="record.weekEnding" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="notes">Notes</label>
          <div class="controls">
            <input type="text" id="notes" name="notes"
              placeholder="Enter Notes" [(ngModel)]="record.notes" />
          </div>
        </div>
      </fieldset>

    </div>
  </div>
</div>