<div class="container">
  <app-info-bar></app-info-bar>
  <fieldset>
    <div id="legend">
      <legend class="">User Signup</legend>
    </div>

    <div class="control-group">
      <label class="control-label" for="userName">User Name</label>
      <div class="controls">
        <input type="text" id="userName" name="userName" placeholder="" class="input-xlarge"
          [(ngModel)]="command.userToAdd.userName">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="firstName">First Name</label>
      <div class="controls">
        <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge"
          [(ngModel)]="command.userToAdd.firstName">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="lastName">Last Name</label>
      <div class="controls">
        <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge"
          [(ngModel)]="command.userToAdd.lastName">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge"
          [(ngModel)]="command.userToAdd.email">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge"
          [(ngModel)]="command.userToAdd.password">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge"
          [(ngModel)]="confirmPassword">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success" (click)="onRegisterHandler()">Register</button>
      </div>
    </div>
  </fieldset>
</div>