<div class="card">
  <h3 class="card-header text-center font-weight-bold py-4">Admin Home</h3>
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-responsive-md table-striped">
        <tr>
          <td class="pt-3-half">
            <a [routerLink]="['/listTimeSheets']">
              Manage Time Sheets
            </a>
          </td>
        </tr>
        <tr>
          <td class="pt-3-half">
            <a [routerLink]="['/listProjects']">
              Manage Projects
            </a>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>