<div class="card" *ngIf="record">
  <h3 class="card-header text-center font-weight-bold py-4">Speaker edit</h3>
  <div class="card-body">
    <div class="container">
      <app-tool-bar (closeRecord)="onClose()" (deleteRecord)="onDelete()" (newRecord)="onNew()" (newRecord)="onNew()"
        (saveAndCloseRecord)="onPostSave(true)" (saveRecord)="onPostSave(false)"></app-tool-bar>
      <app-info-bar></app-info-bar>

      <fieldset>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" id="name" name="name" placeholder="Enter Name" [(ngModel)]="record.name" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="company">Company</label>
          <div class="controls">
            <input type="text" id="company" name="company" placeholder="Enter Company" [(ngModel)]="record.company" />
          </div>
        </div>
        <br>
        <h4>Bio details</h4>

        <div class="control-group">
          <label class="control-label" for="shortBio">Short bio</label>
          <div class="controls">
            <textarea class="form-control rounded-0" id="shortBio" name="shortBio" rows="3" placeholder="Enter Short bio" [(ngModel)]="record.shortBio"></textarea>
          </div>
        </div>        

        <div class="control-group">
          <label class="control-label" for="bio">Bio</label>
          <div class="controls">
            <textarea class="form-control rounded-0" id="bio" name="bio" rows="3" placeholder="Enter bio" [(ngModel)]="record.bio"></textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="notes">Notes</label>
          <div class="controls">
            <textarea class="form-control rounded-0" id="notes" name="notes" rows="3" placeholder="Enter notes" [(ngModel)]="record.notes"></textarea>
          </div>
        </div>
        <br>
        <h4>Social Media Details</h4>
        <div class="control-group">
          <label class="control-label" for="blog">Blog</label>
          <div class="controls">
            <input type="text" id="blog" name="blog" placeholder="Enter Blog" [(ngModel)]="record.blog" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="complexity">Complexity</label>
          <div class="controls">
            <input type="text" id="complexity" name="complexity" placeholder="Enter Complexity"
              [(ngModel)]="record.complexity" />
          </div>
        </div>        

        <div class="control-group">
          <label class="control-label" for="github">Github</label>
          <div class="controls">
            <input type="text" id="github" name="github" placeholder="Enter Github" [(ngModel)]="record.github" />
          </div>
        </div>        

        <div class="control-group">
          <label class="control-label" for="linkedIn">Linked in</label>
          <div class="controls">
            <input type="text" id="linkedIn" name="linkedIn" placeholder="Enter Linked in"
              [(ngModel)]="record.linkedIn" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="twitter">Twitter</label>
          <div class="controls">
            <input type="text" id="twitter" name="twitter" placeholder="Enter Twitter" [(ngModel)]="record.twitter" />
          </div>
        </div>        
      </fieldset>


    </div>
  </div>
</div>