<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="arrow-alt-circle-left" size="1x" (click)="onCloseRecord()"></mdb-icon></a>
        </li>      
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="plus-circle" size="1x" (click)="onNewRecord()"></mdb-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="save" size="1x" (click)="onSaveRecord()"></mdb-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="file-export"size="1x" (click)="onSaveAndCloseRecord()"></mdb-icon></a>
        </li>      
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="trash-alt" size="1x" (click)="onDeleteRecord()"></mdb-icon></a>
        </li>
      </ul>
      <!-- Links -->
  
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->