<p-panel header="Edit Post">
  <div class="card" *ngIf="presenter.record">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-button label="New" icon="pi pi-plus" (click)="onNew()"></p-button> &nbsp;
        <p-button label="Save" icon="pi pi-save" (click)="onSave(false)"></p-button>&nbsp;
        <p-button label="Save & Close" icon="pi pi-save" (click)="onSave(true)"></p-button>&nbsp;
        <p-button label="Delete" icon="pi pi-trash" (click)="onSave(true)"></p-button>&nbsp;
        <p-button label="Close" icon="pi pi-times" (click)="onClose()"></p-button>&nbsp;
      </div>
    </p-toolbar>


    <div class="container">
      <br>
      <alert type="warning">
        {{infoBarMessage}}
      </alert>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" id="name" name="name" placeholder="Enter Name" [(ngModel)]="presenter.record.name" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <input type="text" id="content" name="content" placeholder="Enter Content"
              [(ngModel)]="presenter.record.content" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="tags">Tags</label>
          <div class="controls">
            <input type="text" id="tags" name="tags" placeholder="Enter Tags" [(ngModel)]="presenter.record.tags" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="permaLink">Perma link</label>
          <div class="controls">
            <input type="text" id="permaLink" name="permaLink" placeholder="Enter Perma link"
              [(ngModel)]="presenter.record.permaLink" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="status">Status</label>
          <div class="controls">
            <input type="text" id="status" name="status" placeholder="Enter Status"
              [(ngModel)]="presenter.record.status" />
          </div>
        </div>
      </fieldset>

    </div>
  </div>


  <p-dialog header="Please correct the following" [(visible)]="showErrors">
    <ul *ngFor="let error of presenter.errors">
      <li>{{ error }}</li>
    </ul>
  </p-dialog>

</p-panel>